# =========================
# General
# =========================
.DS_Store
.env
.env.local
.env.development
.env.production

# =========================
# Python / ML (flask-api, ml-model)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# ML models & artifacts
ml-model/model/*.pkl
ml-model/model/*.joblib

# =========================
# Node / Frontend / Backend
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build outputs
# =========================
frontend/dist/
frontend/build/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
Thumbs.db


# Large datasets (Kaggle)
ml-model/dataset/Fake.csv
ml-model/dataset/True.csv
ml-model/dataset/fake_news.csv